@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  display: flex;
  flex-direction: column !important;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

// //bootstrap overrides
// .container {
//   max-width: 960px;
// }
// button {
//   //using bootstrap buttons - needs to match antd radius
//   //antd radius = 2px
//   border-radius: 2px;
// }

//antd overrides
// .anticon {
//   vertical-align: 0.1em;
// }
// .ant-btn-background-ghost:hover {
//   background-color: #1890ff;
//   border-color: #1890ff;
//   color: #fff;
// }
// .ant-menu-sub.ant-menu-inline {
//   border: 0;
//   background: "#43425d" !important;
//   background-color: "#43425d" !important;
// }
